<h2>Kayne quote </h2>
<p><em *ngIf="quote">"{{ quote }}"</em></p>
<p *ngIf="!quote" class="rotate">☠️</p>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

 <app-hero-detail [hero]="selectedHero"></app-hero-detail>

<h2>Debugging</h2>
<pre>
 {{ heroes | json}}
</pre>

 <button (click)="debugMe(8)">Debug me</button>
